<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Свадьба &mdash; Юра и Эля Солдатовы</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="general-soldatov" />

  <!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FREEHTML5.CO


	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	EDITED FOR THE FLASK by general_soldatov

	Telegram: 		https://t.me/general_soldatov
	VK: 			https://vk.com/general_soldatov
	GitHub:			https://github.com/general-soldatov

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="index.html">Cвадьба<strong></strong></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						{% for item in up_case %}
							<li class="active"><a href="{{ item[1] }}">{{ item[0] }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/static/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Юрий & Эльвира</h1>
							<h2>Мы поженимся через</h2>
							<div class="simply-countdown simply-countdown-one"></div>
							<p><a href="https://calendar.google.com/calendar/r/eventedit?text={{ cal[0] }}&dates={{ cal[1] }}Z/{{ cal[2] }}Z&details=For+details,+link+here:+{{ cal[3] }}&location={{ cal[4] }}" class="btn btn-default btn-sm">Сохранить дату</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Привет!</h2>
					<h3>{{ date }}, {{ location }}</h3>
					<p>Один день в этом году будет для нас особенным и мы хотим провести его в кругу близких и друзей.
						С большим удовольствием приглашаем вас на знаменательный праздник - нашу свадьбу!</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="{{ url_for('static', filename=newlyweds[0][1]) }}" alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>{{ newlyweds[0][0] }}</h3>
						<p>{{ newlyweds[0][2] }}</p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src="{{ url_for('static', filename=newlyweds[1][1]) }}" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>{{ newlyweds[1][0] }}</h3>
						<p>{{ newlyweds[1][2] }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Вас ждут</span>
					<h2>На нашей свадьбе</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
						{% for item in events %}
						<li class="{{ '' if loop.index %2 == 0 else 'timeline-inverted '}}animate-box">
							<div class="timeline-badge" style="background-image:url({{ url_for('static', filename=item[1]) }});"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">{{ item[0] }}</h3>
									<i class="icon-clock">  {{ item[2] }}</i>
								</div>
								<div class="timeline-body">
									<p>{{ item[3] }}</p>
								</div>
							</div>
						</li>
						{% endfor %}
			    	</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-gallery" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Wedding Dress code</span>
					<h2>Наши пожелания по внешнему виду</h2>
					<p>Мы очень ждем и с удовольствием готовимся к нашему незабываемому дню! Поддержите нас вашими улыбками и объятиями, а также красивыми нарядами в палитре торжества. Чтобы подчеркнуть значимость этого мероприятия, просим остановить выбор на соответствующих случаю вечерних нарядах:
					<ul>
						<li>Дамы — no white, no black, no red.</li>
						<li>Мужчины — вечерний костюм или пиджак и брюки.</li>
					</ul></p>

					</ul>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<img src="{{ url_for('static', filename='images/pastelle.jpg') }}" alt="groom" class="img-responsive">
			</div>
		</div>
	</div>

	<div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="background-image:url(/static/images/img_bg_5.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-users"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="{{ go_to }}" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Придёт гостей</span>

							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-user"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="{{ waiting }}" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Ожидаем гостей</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-calendar"></i>
								</span>
								<span class="counter js-counter" data-from="0" data-to="{{ together_day }}" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Дней вместе</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-clock"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="{{ time_kiss }}" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Часов поцелуев</span>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-testimonial">
		<div class="container">
			<div class="row">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<span>Best Wishes</span>
						<h2>Пожелания от близких</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box">
						<div class="wrap-testimony">
							<div class="owl-carousel-fullwidth">
								{% for item in family%}
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src="{{ url_for('static', filename=item[4]) }}" alt="user">
										</figure>
										<span>{{ item[0] }}, {{ item[1] }} <a href="{{ item[3] }}" class="twitter">{{ item[2] }}</a></span>
										<blockquote>
											<p>"{{ item[5] }}"</p>
										</blockquote>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(/static/images/img_bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Вас ждут</span>
					<h2>На нашей свадьбе</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Цветочная подписка</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>17:00</span>
										<span>18:00</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>{{ date }}</span>
										<span>{{ week_day }}</span>
									</div>
									<p>Сразу после свадьбы мы улетаем в свадебное путешествие, поэтому мы не успеем насладиться красотой подаренных цветов.
										Чтобы праздничное настроение длилось дольше, мы предлагаем оформить цветочную подписку в честь свадьбы!</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Свадебный ужин</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>18:00</span>
										<span>00:00</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>{{ date }}</span>
										<span>{{ week_day }}</span>
									</div>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-services" class="fh5co-section-gray">
		<div class="container">

			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Торжество состоится в Усадьбе 12.24</h2>

				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<ul>
							<li><p>
								Мы будем рады разделить с Вами радость неповторимого для нас дня – дня нашей свадьбы!
								Приглашаем присоединиться к нашему празднику и украсить его своим присутствием!
							</p>
							<li>
							<p></p><p>
								Пожалуйста, подтвердите ваше присутствие на нашем празднике до 12 июля 2024 года
								лично или телефонным звонком/любым удобным для вас способом.
								В день свадьбы мы будем немного заняты, поэтому, в случае возникновения вопросов, вы всегда можете
								обратиться за помощью к нашему свадебному координатору.
							</p></li>
							<p></p></li>
							<li><p>
								Усадьба располагается в селе Новая Усмань на берегу реки Усманка в 12-ти км от города
								(поворот с улицы Ростовской направо около АЗС "Газпромнефть", затем движение по указателю направо по грунтовой дороге).
								Точка на карте поможет вам добраться. <br>Будем рады вас видеть!
								</p></li>
						</ul>

					</div>

				</div>

				<div class="col-md-6 animate-box">
					<div class="fh5co-video fh5co-bg" style="background-image: url(/static/images/img_bg_3.jpg); ">
						<iframe class="fh5co-video fh5co-bg" src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab5e6e833844ee27b49528dfabee36e3a957eb3ab9a837a390e47553d46a315f2&amp;source=constructor" width="447" height="301" frameborder="0"></iframe>
					</div>
				</div>
			</div>


		</div>
	</div>


	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(/static/images/img_bg_4.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Ты придёшь?</h2>
					<p>Мы очень хотим видеть тебя на нашей свадьбе. </p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-10 col-md-offset-1">
					<form class="form-inline">
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">Имя Фамилия</label>
								<input type="name" class="form-control" id="name" placeholder="Name">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" class="btn btn-default btn-block">Я приду!</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2024 Developed by general_soldatov. All Rights Reserved.</small>
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://t.me/general_soldatov"><i class="fab fa-telegram"></i></a></li>
							<li><a href="https://vk.com/general_soldatov"><i class="fab fa-vk"></i></a></li>
							<li><a href="https://github.com/general-soldatov"><i class="fab fa-github"></i></a></li>
							<li><a href="mailto:general-soldatov@mail.ru"><i class="fa fa-envelope"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(/static/images/img_bg_4.jpg);">
		<div class="overlay"></div>
		<div class="container">

			<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
				<span class="icon">
					<i class="fas fa-microphone-alt"></i>
				</span>
				<div class="feature-copy">
					<h3>Мероприятие организовано</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
			</div>

			<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
				<span class="icon">
					<i class="icon-image"></i>
				</span>
				<div class="feature-copy">
					<h3>Фотограф</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
			</div>

			<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
				<span class="icon">
					<i class="icon-video"></i>
				</span>
				<div class="feature-copy">
					<h3>Видеограф</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Carousel -->
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
	<!-- countTo -->
	<script src="{{ url_for('static', filename='js/jquery.countTo.js') }}"></script>

	<!-- Stellar -->
	<script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
	<!-- Magnific Popup -->
	<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/magnific-popup-options.js') }}"></script>

	<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
	<script src="{{ url_for('static', filename='js/simplyCountdown.js') }}"></script>
	<!-- Main -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	<script>
    var d = new Date(new Date(2024, 7, 11).getTime());

    // default example
    simplyCountdown('.simply-countdown-one', {
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate()
    });

    //jQuery example
    $('#simply-countdown-losange').simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate(),
        enableUtc: false
    });
</script>

	</body>
</html>
