{% extends "base.html" %}

{% block content %}
	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Привет!</h2>
					<h3>{{ date }}, {{ location }}</h3>
					<p>Один день в этом году будет для нас особенным и мы хотим провести его в кругу близких и друзей.
						С большим удовольствием приглашаем вас на знаменательный праздник - нашу свадьбу!</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="{{ url_for('static', filename=newlyweds[0][1]) }}" alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>{{ newlyweds[0][0] }}</h3>
						<p>{{ newlyweds[0][2] }}</p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src="{{ url_for('static', filename=newlyweds[1][1]) }}" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>{{ newlyweds[1][0] }}</h3>
						<p>{{ newlyweds[1][2] }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Вас ждут</span>
					<h2>На нашей свадьбе</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
						{% for item in events %}
						<li class="{{ '' if loop.index %2 == 0 else 'timeline-inverted '}}animate-box">
							<div class="timeline-badge" style="background-image:url({{ url_for('static', filename=item[1]) }});"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">{{ item[0] }}</h3>
									<i class="icon-clock">  {{ item[2] }}</i>
								</div>
								<div class="timeline-body">
									<p>{{ item[3] }}</p>
								</div>
							</div>
						</li>
						{% endfor %}
			    	</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-gallery" class="fh5co-section-gray">
		<div class="overlay"></div>
		<div class="container">

			<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
				<span class="icon">
					<i class="fas fa-microphone-alt"></i>
				</span>
				<div class="feature-copy">
					<h3>Мероприятие организовано</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
			</div>

			<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
				<span class="icon">
					<i class="icon-image"></i>
				</span>
				<div class="feature-copy">
					<h3>Фотограф</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
			</div>

			<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
				<span class="icon">
					<i class="icon-video"></i>
				</span>
				<div class="feature-copy">
					<h3>Видеограф</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Wedding Dress code</span>
					<h2>Наши пожелания по внешнему виду</h2>
					<p>Мы очень ждем и с удовольствием готовимся к нашему незабываемому дню! Поддержите нас вашими улыбками и объятиями, а также красивыми нарядами в палитре торжества. Чтобы подчеркнуть значимость этого мероприятия, просим остановить выбор на соответствующих случаю вечерних нарядах:
					<ul>
						<li>Дамы — no white, no black, no red.</li>
						<li>Мужчины — вечерний костюм или пиджак и брюки.</li>
					</ul></p>

					</ul>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<img src="{{ url_for('static', filename='images/pastelle.jpg') }}" alt="groom" class="img-responsive">
			</div>
		</div>
	</div>

	<div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="background-image:url(/static/images/img_bg_5.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-users"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="{{ go_to }}" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Придёт гостей</span>

							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-user"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="{{ waiting }}" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Ожидаем гостей</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-calendar"></i>
								</span>
								<span class="counter js-counter" data-from="0" data-to="{{ together_day }}" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Дней вместе</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-clock"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="{{ time_kiss }}" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Часов поцелуев</span>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-services" class="fh5co-section-gray">
		<div class="container">

			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Торжество состоится в Усадьбе 12.24</h2>

				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<ul>
							<li><p>
								Мы будем рады разделить с Вами радость неповторимого для нас дня – дня нашей свадьбы!
								Приглашаем присоединиться к нашему празднику и украсить его своим присутствием!
							</p>
							<li>
							<p></p><p>
								Пожалуйста, подтвердите ваше присутствие на нашем празднике до 12 июля 2024 года
								лично или телефонным звонком/любым удобным для вас способом.
								В день свадьбы мы будем немного заняты, поэтому, в случае возникновения вопросов, вы всегда можете
								обратиться за помощью к нашему свадебному координатору.
							</p></li>
							<p></p></li>
							<li><p>
								Усадьба располагается в селе Новая Усмань на берегу реки Усманка в 12-ти км от города
								(поворот с улицы Ростовской направо около АЗС "Газпромнефть", затем движение по указателю направо по грунтовой дороге).
								Точка на карте поможет вам добраться. <br>Будем рады вас видеть!
								</p></li>
						</ul>

					</div>

				</div>

				<div class="col-md-6 animate-box">
					<div class="fh5co-video fh5co-bg" style="background-image: url(/static/images/img_bg_3.jpg); ">
						<iframe class="fh5co-video fh5co-bg" src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab5e6e833844ee27b49528dfabee36e3a957eb3ab9a837a390e47553d46a315f2&amp;source=constructor" width="447" height="301" frameborder="0"></iframe>
					</div>
				</div>
			</div>


		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(/static/images/img_bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Вас ждут</span>
					<h2>На нашей свадьбе</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Цветочная подписка</h3>
									<div class="event-col">
										<img src="{{ url_for('static', filename='images/qr-flower.gif') }}" alt="user">
									</div>
									<div class="event-col">
										<p>Приобрести подписку<br>Flowers studio</p>
										<p></p>
										<p><a href="#" class="btn btn-default btn-sm">Перейти на сайт</a></p>
									</div>
									<p>Сразу после свадьбы мы улетаем в свадебное путешествие, поэтому мы не успеем насладиться красотой подаренных цветов.
										Чтобы праздничное настроение длилось дольше, мы предлагаем оформить цветочную подписку в честь свадьбы!</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Telegram-канал</h3>
									<div class="event-col">
										<img src="{{ url_for('static', filename='images/qr-telega.gif') }}" alt="user">
									</div>
									<div class="event-col">
										<p>Подписаться на наш<br>Telegram-канал</p>
										<p></p>
										<p><a href="#" class="btn btn-default btn-sm">Перейти в Telegram</a></p>
									</div>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-testimonial">
		<div class="container">
			<div class="row">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<span>Best Wishes</span>
						<h2>Пожелания от близких</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box">
						<div class="wrap-testimony">
							<div class="owl-carousel-fullwidth">
								{% for item in family%}
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src="{{ url_for('static', filename=item[4]) }}" alt="user">
										</figure>
										<span>{{ item[0] }}, {{ item[1] }} <a href="{{ item[3] }}" class="twitter">{{ item[2] }}</a></span>
										<blockquote>
											<p>"{{ item[5] }}"</p>
										</blockquote>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(/static/images/img_bg_4.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Вы придёте?</h2>
					<p>Мы очень хотим видеть Вас на нашей свадьбе. </p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-10 col-md-offset-1">
					<form action="" method="post">
						<div class="col-md-4 col-sm-4">
							<div class="forms-group">
								<label for="name" class="sr-only">Имя Фамилия</label>
								<input type="text" class="forms-control" name="name" placeholder="Name">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="forms-group">
								<label for="email" class="sr-only">Email</label>
								<input type="text" class="forms-control" name="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<input type="submit" class="btn" value="Я приду!">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
